* {
  margin: 0;
  padding: 0;
  color: black;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.background-grey{
  background: #ededed;
    height: 400px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
}

.header {
  display: flex;
  justify-content: end;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.logo{
  font-size: 3em;
  font-weight: bolder;
  align-items: center;
  text-decoration:line-through;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav ul > li {
  padding: 15px;
}

.nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.nav ul li a:hover{
  color: #ff6464;
}

h1 span{
  font-weight: lighter;
}

.banner {
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
  text-align: center;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  z-index: 2;
  position: relative;
}

.arrow{
  animation: arrow 1s steps(144) 1s normal both;
  animation-iteration-count: infinite;
  position: absolute;
  bottom: 50px;
}

@keyframes arrow {
  0%{
    bottom: 50px;
  }

  80% {
    bottom: 40px;
  }
}



.fa::before{
  font-size: 50px;
}

.container-banner-text{
  padding-bottom: 100px;
}

.img-profile-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
  background-image: url(../imagenes/profile.JPG);
  background-position: bottom;
  background-size: cover;
  border-radius: 50%;
  border: 9px solid white;
}

.banner > img{
  width: 100%;
  position: absolute;
  z-index: 0;
  height: 100vh;
}

a{
  text-decoration: none;
}

.title {
  font-size: 3em;
  font-weight: 500;
}

.resume {
  width: 100%;
  margin: auto;
  font-weight: bold;
  margin-bottom: 44px;
  font-size: 15px;
}

.btn-primary {
  background-color: #ff6464;
  color: #fff;
  border: none;
  padding: 15px;
  text-transform: capitalize;
  font-size: 16px;
  cursor: pointer;
}

.section-works {
  max-width: 800px;
  margin: auto;
  padding-top: 100px;
}

.card {
  display: flex;
  flex-direction: row;
}

.card div img {
  width: 246px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.text-works {
  font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 10px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 580px;
    margin: auto;
    margin-bottom: 30px;
}

h4 p{
  color: #d2d2d2;
}
/*
.text-works p{
  position: absolute;
  width: 100%;
  animation: teclado 8s steps(144) 1s normal both;
  animation-iteration-count: infinite;
}


@keyframes teclado {
  0%{
    left: 100%;
  }

  40% {
    left: 0;
  }
}

.cursor{
  position: absolute;
  width: 20px;
  height: 80px;
  background: violet;
  left: 99%;
  z-index: 2;
  animation: cursor 0.5s steps(50) infinite normal;
}

@keyframes cursor {
  from {
    background: rgb(255, 77, 196);
  }
  to {
   background: white;
  }
}
*/

.container-detail {
  margin-left: 20px;
}

.container-detail p {
  margin-top: 20px;
  width: 100% !important;
}

.text-works{
  width: 80%;
  font-size: 1.8em;
}

.label-dark {
  background-color: #ff6464;
  color: #fff;
  border-radius: 16px;
  padding: 5px 10px;
  font-weight: bold;
}

.text-light {
  color: #8695a4;
}

hr {
  height: 0.5px;
  background-color: #e0e0e0;
  border: 0.5px solid #e0e0e0;
  margin-top: 10px;
  margin-bottom: 20px;
}

.link-portafolio {
  color: #000;
  text-decoration: none;
  transition: 0.3s;
}

.link-portafolio:hover {
  color: #ff6464;
  text-decoration: underline;
}

footer{
  position: relative;
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: stretch;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 40px;
}

footer span{
  width: 25px;
}

@media only screen and (max-width: 600px){
  .header{
    z-index: 99999;
    background:  #ff6464;
  }

  .header ul li a{
    color: white !important;
  }
  .banner {
    flex-direction: column-reverse;
  }

  .img-profile-container {
    width: 300px;
    height: 300px;
}

h4 p{
  font-size: 3em;
}
 
  .resume{
    font-size: 1.3em;
  }
  .banner{
    height: 100vh;
  }

  .container-banner-text{
    padding: 0;
  }

  .card{
    flex-direction: column !important;
  }
  .card div img {
    width: 60%;
    margin: auto;
    display: block;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }
  .container-detail{
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 420px){
  .card div img {
    width: 80%;
    margin: auto;
    display: block;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    }

    .img-profile-container {
      width: 200px;
      height: 200px;
  }

}

/* BELCORP */

#belcorp{
  background-color: white;
  padding-bottom: 50px;
  height: 100vh;
}

section{
  display: flex;
  justify-content: space-evenly;
}

.img-container{
  width: 28%;
  border-radius: 18px;
  overflow: hidden;
  -webkit-box-shadow: 7px 7px 18px -6px rgba(0,0,0,0.44);
  -moz-box-shadow: 7px 7px 18px -6px rgba(0,0,0,0.44);
  box-shadow: 7px 7px 18px -6px rgba(0,0,0,0.44);
}

.img-container img{
  width: 100%;
  height: 100%;
  display: block;
}

.img-container:hover{
  filter: brightness(0.5);
}

#belcorp h1{
  width: 200px;
  margin: auto;
  margin-bottom: 50px;
}

h1 img{
  width: 100%;
}

@media only screen and (max-width: 600px){

}