* {
  margin: 0;
  padding: 0;
}

#inicio{
  color: white;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
    position: relative;
    background-image: url(../imagenes/background-inicio.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-grey{
  background: white;
    height: 400px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
}

.header {
  display: flex;
  justify-content: end;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.logo{
  font-size: 3em;
  font-weight: bolder;
  align-items: center;
  text-decoration:line-through;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav ul > li {
  padding: 15px;
}

.nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.nav ul li a:hover{
  color: #ff6464 !important;
}

h1 span{
  font-weight: lighter;
}

.banner {
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
  text-align: center;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  z-index: 2;
  position: relative;
  color: black;
}

.arrow{
  animation: arrow 1s steps(144) 1s normal both;
  animation-iteration-count: infinite;
  position: absolute;
  bottom: 50px;
  color: white;
}

@keyframes arrow {
  0%{
    bottom: 50px;
  }

  80% {
    bottom: 40px;
  }
}



.fa::before{
  font-size: 50px;
}

.container-banner-text{
  padding-bottom: 100px;
}

.img-profile-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
  background-image: url(../imagenes/profile.JPG);
  background-position: bottom;
  background-size: cover;
  border-radius: 50%;
  border: 9px solid white;
}

.banner > img{
  width: 100%;
  position: absolute;
  z-index: 0;
  height: 100vh;
}

a{
  text-decoration: none;
}

.title {
  font-size: 3em;
  font-weight: 500;
}

.resume {
  width: 100%;
  margin: auto;
  font-weight: bold;
  margin-bottom: 44px;
  font-size: 15px;
}

.btn-primary {
  background-color: #ff6464;
  color: #fff;
  border: none;
  padding: 15px;
  text-transform: capitalize;
  font-size: 16px;
  cursor: pointer;
}

a.link-portafolio {
  width: 100%;
  height: 100%;
  display: block;
}


section#works .works-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  grid-template-rows: 25vh 25vh;
  grid-template-areas:
      "belcorp tarjeta community"
      "comments tarjeta pokedex"
      ;
}

.work-image{
  overflow: hidden;
  background-position: center;
}

.link-portafolio::before{
  width: 100%;
  height: 100%;
  display: flex;
  background-color: transparent;
  content: 'hola';
  color: transparent;
  text-align: center;
  transition: 0.5s;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
}

.link-portafolio:hover::before{
  width: 100%;
  height: 100%;
  background-color: #000000ad;
  content: 'hola';
  color: white;
  text-align: center;
}

.item1{
  grid-area: belcorp;
  background-image: url('../imagenes/belcorp.png');
  background-size: cover;
}

.item1 .link-portafolio::before{
  content: 'BELCORP';
}

.item2{
  grid-area: tarjeta;
  background-image: url('../imagenes/portafolio/nft.png');
  background-size: cover;
}


.item2 .link-portafolio::before{
  content: 'FLEX BOX';
}

.item3{
  grid-area: community;
  background-image: url('../imagenes/portafolio/web.png');
  background-size: cover;
}

.item3 .link-portafolio::before{
  content: 'GRID';
}

.item4{
  grid-area: comments;
  background-image: url('../imagenes/portafolio/comments.png');
  background-size: cover;
}

.item4 .link-portafolio::before{
  content: 'COMMENTS';
}

.item5{
  grid-area: pokedex;
  background-image: url('../imagenes/portafolio/reto4.png');
  background-size: cover;
}

.item5 .link-portafolio::before{
  content: 'POKEDEX';
}

section#works .works-container .link-portafolio img{
  width: 100%;
}

section#works .works-container .link-portafolio img{
  width: 100%;
}

.section-works {
  width: 800px;
  margin: auto;
  padding-top: 50px;
}

.text-works {
  font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 10px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 580px;
    margin: auto;
    margin-bottom: 30px;
}

h4 p{
  color: white;
}

.text-works{
  width: 100%;
  font-size: 8.8em;
}


.container-contact{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.container-form {
  justify-content: center;
}



footer{
  position: relative;
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: stretch;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 40px;
}

footer span{
  width: 25px;
}

@media only screen and (max-width: 600px){
  #contact{
    background-image: url(../imagenes/background-inicio.jpg);
  }

  body {
      background-image: none;
  }

  .banner{
    background-color: grey;
  }

  section#works .works-container {
      display: flex;
      grid-template-columns: auto auto auto;
      background-color: white;
      flex-direction: column;
  }

  .work-image {
      overflow: hidden;
      width: 80%;
      height: 250px;
      margin: auto;
      background-position: center;
  }
  .header{
    z-index: 99999;
    background:  #ff6464;
  }

  .header ul li a{
    color: white;
  }
  .banner {
    flex-direction: column-reverse;
  }

  .img-profile-container {
    width: 300px;
    height: 300px;
  }

  h4 p{
    font-size: 7em;
    color: grey;
  }

  .arrow{
    animation: arrow 1s steps(144) 1s normal both;
    animation-iteration-count: infinite;
    position: absolute;
    bottom: 110px;
  }
  
  @keyframes arrow {
    0%{
      bottom: 110px;
    }
  
    80% {
      bottom: 100px;
    }
  }
 
  .resume{
    font-size: 1.3em;
  }
  .banner{
    height: 100vh;
  }

  .container-banner-text{
    padding: 0;
  }

  .card{
    flex-direction: column !important;
  }
  .card div img {
    width: 60%;
    margin: auto;
    display: block;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }
  .container-detail{
    font-size: 0.8em;
  }

  .text-works{
    width: 100%;
    font-size: 1em;
  }
  
}

@media only screen and (max-width: 420px){
  .card div img {
    width: 80%;
    margin: auto;
    display: block;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    }

    .img-profile-container {
      width: 200px;
      height: 200px;
  }

  h4 p{
    font-size: 3em;
  }

}

/* BELCORP */

#belcorp{
  background-color: white;
  padding-bottom: 50px;
  height: 100vh;
}

section{
  display: flex;
  justify-content: space-evenly;
}

.img-container{
  width: 28%;
  border-radius: 18px;
  overflow: hidden;
  -webkit-box-shadow: 7px 7px 18px -6px rgba(0,0,0,0.44);
  -moz-box-shadow: 7px 7px 18px -6px rgba(0,0,0,0.44);
  box-shadow: 7px 7px 18px -6px rgba(0,0,0,0.44);
}

.img-container img{
  width: 100%;
  height: 100%;
  display: block;
}

.img-container:hover{
  filter: brightness(0.5);
}

#belcorp h1{
  width: 200px;
  margin: auto;
  margin-bottom: 50px;
}

h1 img{
  width: 100%;
}

#cyzone{
  background-color: #cecece;
}

#cyzone nav{
  background-color: black;
  height: 70px;
  display: flex;
  align-items: center;
}

#cyzone nav div{
  width: 150px;
  height: 100%;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

#cyzone nav div img{
  width: 70%;
}

#cyzone nav div img:hover{
  width: 75%;
  transition: 0.5s;
}

#cyzone nav div a{
  text-align: center;
}

.cyzone{
  background-color: rgb(199, 0, 121);
}

#cyzone section{
  margin-top: 20px;
  width: 100%;
}

#cyzone section div{
  width: 200px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
}

#cyzone section div img{
  width: 80%;
  transition: 0.5s;
  cursor: pointer;
}

#cyzone section div img:hover{
  width: 90%;
}

#cyzone .btn-primary {
  background-color: white;
  color: #fff;
  border: none;
  height: 200px;
  padding: 0;
  text-transform: capitalize;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
}

#cyzone .btn-primary img{
  width: 100%;
}

#cyzone .btn-primary img:hover{
  filter:grayscale(1);
  transition: 0.3s;
}

#cyzone .modal-poke-image{
  width: 100%;
}